{%if block.settings.accordion_heading_1 != blank%}
<div class="pf-accordion__item ">
    <div class="pf-accordion-header accordion-toggle">{{block.settings.accordion_heading_1}}</div>
    <div class="pf-inner accordion-content">
        {%if block.settings.accordion_content_1 %}
            {{block.settings.accordion_content_1}}
        {%endif%}    
    </div>
</div>
{%endif%}
    {%if block.settings.accordion_heading_2 != blank%}
<div class="pf-accordion__item">
    <div class="pf-accordion-header accordion-toggle">{{block.settings.accordion_heading_2}}</div>
    <div class="pf-inner accordion-content">
        {%if block.settings.accordion_content_2 %}
            {{block.settings.accordion_content_2}}
        {%endif%}    
    </div>
</div>
{%endif%}
{%if block.settings.accordion_heading_3 != blank%}
<div class="pf-accordion__item">
    <div class="pf-accordion-header accordion-toggle">{{block.settings.accordion_heading_3}}</div>
    <div class="pf-inner accordion-content">
        {%if block.settings.accordion_content_3 %}
            {{block.settings.accordion_content_3}}
        {%endif%}    
    </div>
</div>
{%endif%}
{%if block.settings.accordion_heading_4 != blank%}
<div class="pf-accordion__item">
    <div class="pf-accordion-header accordion-toggle">{{block.settings.accordion_heading_4}}</div>
    <div class="pf-inner accordion-content">
        {%if block.settings.accordion_content_4 %}
            {{block.settings.accordion_content_4}}
        {%endif%}    
    </div>
</div>
{%endif%}
{%if block.settings.accordion_heading_5 != blank%}
<div class="pf-accordion__item">
    <div class="pf-accordion-header accordion-toggle">{{block.settings.accordion_heading_5}}</div>
    <div class="pf-inner accordion-content">
        {%if block.settings.accordion_content_5 %}
            {{block.settings.accordion_content_5}}
        {%endif%}    
    </div>
</div>
{%endif%}
