<div>
  {% if title != blank %}
    <div class="question ">
      <button
        type="button"
        class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left"
        aria-controls="FAQ-content-{{ id }}"
      >
        <span class="collapsible-trigger__text">{{ title }}</span>
        <span
          class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open"
          role="presentation"
        >
          <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6 6L11 1" stroke="#1C2C58" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </span>
        <span
          class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--close"
          role="presentation"
        >
          <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 7L6 2L1 7" stroke="#1C2C58" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </span>
      </button>
      <div id="FAQ-content-{{ id }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner collapsible-content__inner--faq rte">
          {%- if use_metafield -%}
            {%- for txt_loop in text -%}
              <p>{{ txt_loop.children[0].value }}</p>
            {%- endfor -%}
          {%- else -%}
            {{ text }}
          {%- endif -%}
        </div>
      </div>
    </div>
  {% endif %}
</div>
