{%- render 'section_css' -%}

<style>
  .content-banner-cta-section .page-width {
    max-width: none;
    padding: 0;
  }
  .content-banner-cta-section {
    padding: 65px 0;
    font-family: "Be Vietnam Pro", sans-serif;
  }
  .content-banner-cta-main-title-wrapper {
    text-align: center;
    margin-bottom: 40px;
  }
  .content-banner-cta-main-title {
    font-family: 'Be Vietnam Pro', sans-serif !important;
    font-size: {{ section.settings.main_title_font_size }}px;
    line-height: {{ section.settings.main_title_line_height }};
    color: {{ section.settings.main_title_color }};
  }
  .content-banner-cta-container {
    position: relative;
    width: 1595px;
    height: 500px;
    margin: 0 120px 0 110px;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .content-banner-cta-content {
    position: relative;
    z-index: 2;
    width: 55%;
    height: 100%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
  }
  .content-banner-cta-text-wrapper {
    display: contents;
  }
  .content-banner-cta-subtitle {
    font-size: 24px;
    font-weight: 700;
    color: #1C2C58;
    margin: 0 0 24px;
    line-height: 1.4;
  }
  .content-banner-cta-subtitle p {
    margin: 0px;
  }
  .content-banner-cta-secondary-title {
    font-size: 24px;
    font-weight: 700;
    color: #1C2C58;
    margin: 0 0 24px;
  }
  .content-banner-cta-description {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 32px;
  }
  .content-banner-cta-description p {
    margin: 0;
  }
  .content-banner-cta-button {
    display: inline-block;
    background-color: #1C2C58;
    color: #fff;
    padding: 12px 32px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    transition: background-color 0.3s;
    align-self: flex-start;
  }
  .content-banner-cta-button:hover {
    background-color: #2b4282;
  }
  .content-banner-cta-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  @media screen and (max-width: 1600px) {
    .content-banner-cta-container {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 990px) {
    .content-banner-cta-content {
      width: 70%;
      padding: 40px;
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.98) 70%, rgba(255,255,255,0) 100%);
    }
    .content-banner-cta-main-title {
        font-size: 32px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .content-banner-cta-section {
        padding: 16px 0;
    }
    .content-banner-cta-container {
      width: 356px;
      height: 227px;
      margin-left: auto;
      margin-right: auto;
    }
    .content-banner-cta-content {
      width: 100%;
      height: 100%;
      padding: 30px 30px 30px;
      background: transparent;
      text-align: left;
      align-items: flex-start;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    }
    .content-banner-cta-button {
      align-self: flex-start;
      display: flex;
      width: 105px;
      height: 21px;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
    }

    .content-banner-cta-text-wrapper {
      color: #1C2C58;
      font-family: "Be Vietnam Pro", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 19.6px */
      display: flex;
      width: 148px;
      height: 84px;
      padding-top: 60px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      
    }

    .content-banner-cta-main-title {
      display: flex;
      max-width: 100%;
      height: 66px;
      flex-direction: column;
      justify-content: center;
      color: #1C2C58;
      text-align: center;
      font-family: "Be Vietnam Pro", sans-serif;
      font-size: 24px;
      font-weight: 700;
      margin: 0 auto;
    }

    .content-banner-cta-subtitle,
    .content-banner-cta-secondary-title {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      margin-bottom: 10px;
      text-align: left;
    }

    .content-banner-cta-subtitle p {
      margin: 0;
    }

    .content-banner-cta-description {
      display: none;
    }
  }
</style>

<div class="content-banner-cta-section" style="background-color: {{ section.settings.background_color }};">
  <div class="page-width">
    <div class="content-banner-cta-main-title-wrapper">
        <h2 class="content-banner-cta-main-title">{{ section.settings.main_title | escape }}</h2>
    </div>
    <div class="content-banner-cta-container">
      {%- liquid
        assign has_mobile_image = false
        if section.settings.image_mobile != blank
          assign has_mobile_image = true
        endif
      -%}

      {%- if section.settings.image != blank -%}
        <img
          src="{{ section.settings.image | img_url: '1600x' }}"
          alt="{{ section.settings.image.alt | escape }}"
          class="content-banner-cta-background-image{% if has_mobile_image %} small--hide{% endif %}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
          loading="lazy"
        >
      {%- elsif has_mobile_image == false -%}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg content-banner-cta-background-image' }}
      {%- endif -%}
      
      {%- if has_mobile_image -%}
        <img
          src="{{ section.settings.image_mobile | img_url: '750x' }}"
          alt="{{ section.settings.image_mobile.alt | escape }}"
          class="content-banner-cta-background-image medium-up--hide"
          width="{{ section.settings.image_mobile.width }}"
          height="{{ section.settings.image_mobile.height }}"
          loading="lazy"
        >
      {%- endif -%}
      <div class="content-banner-cta-content">
        <div class="content-banner-cta-text-wrapper">
          <div class="content-banner-cta-subtitle">{{ section.settings.subtitle }}</div>
          <h4 class="content-banner-cta-secondary-title">{{ section.settings.secondary_title | escape }}</h4>
        </div>
        <div class="content-banner-cta-description">{{ section.settings.description }}</div>
        {%- if section.settings.button_text != blank -%}
            <a href="{{ section.settings.button_link }}" class="content-banner-cta-button">
                {{ section.settings.button_text | escape }}
            </a>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Content Banner CTA",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title",
      "default": "Mọi điều tuyệt vời đều bắt đầu từ một giấc ngủ ngon"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<p>Với hơn 3,240 giờ nghiên cứu để bạn chỉ việc nghỉ ngơi, chẳng cần nghĩ ngợi.</p>"
    },
    {
      "type": "text",
      "id": "secondary_title",
      "label": "Secondary Title",
      "default": "Ru9 - Nơi giấc ngủ ngon bắt đầu"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Chúng tôi không ngừng cải tiến từng chi tiết, để sản phẩm không chỉ \"êm\" mà còn \"hiểu\" được cơ thể bạn. Mỗi thiết kế, mỗi cải tiến trong chất liệu đều hướng đến cảm giác thoải mái và nâng đỡ tốt nhất cho cơ thể bạn. Từ đó, giấc ngủ không còn là điều xa xỉ, mà trở thành điều hiển nhiên và dễ dàng tiếp cận hơn với mọi người.</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Xem chi tiết"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Content Banner CTA"
    }
  ]
}
{% endschema %}
