{% liquid
  if section.settings.section_width != 'page-width'
    if section.settings.section_width == 'full-width'
      assign page_width = '100%'
    endif
    if section.settings.section_width == 'customize_width'
      assign page_width = section.settings.customize_width | plus: 80 | append: 'px'
    endif
  endif
%}
<style>
.main-page .section-header__title.text-3xl {
  font-size: 39px;
  margin-top: 45px;
}

@media (max-width: 749px) {
  .main-page .section-header__title.text-3xl {
    font-size: 20px;
    margin-top: 20px;
  }
}
</style>
<div
  class="page-width page-content main-page{% if section.settings.remove_space_below %} remove_space_below_section{% endif %}"
  style="{% if section.settings.section_width != 'page-width' %}--page-width: {{ page_width }}{% endif %}"
>
  {%- render 'breadcrumbs' -%}
  <header class="section-header text-{{ section.settings.text_alignment }}">
    <h1 class="section-header__title text-3xl">{{ page.title }}</h1>
  </header>

  <div
    class="rte rte--nomargin"
    style="{% if section.settings.enable_customize_width_content %}max-width: {{ section.settings.customize_width_content }}px;{% endif %}"
  >
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full-width",
          "label": "t:sections.all.section_width.options__1"
        },
        {
          "value": "page-width",
          "label": "t:sections.all.section_width.options__2"
        },
        {
          "value": "customize_width",
          "label": "t:sections.all.section_width.options__3"
        }
      ],
      "default": "page-width",
      "label": "t:sections.all.section_width.label"
    },
    {
      "type": "range",
      "id": "customize_width",
      "min": 1005,
      "max": 1800,
      "step": 15,
      "default": 1800,
      "unit": "px",
      "label": "t:sections.all.customize_width.label"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "default": "center",
      "label": "t:common.text_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "enable_customize_width_content",
      "label": "Enable custom width content",
      "default": false
    },
    {
      "type": "range",
      "id": "customize_width_content",
      "min": 400,
      "max": 1800,
      "step": 100,
      "default": 1800,
      "unit": "px",
      "label": "Custom width content"
    },
    {
      "type": "checkbox",
      "id": "remove_space_below",
      "label": "Remove space below",
      "default": false
    }
  ]
}
{% endschema %}
